:root {
    --background-color: #331E38;
    --foreground-color: #706993;
    --secondary-foreground-color: #E0D8DE;
    --gap: 16px;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.tabView{
    display:flex;
    flex-direction: column;
    overflow: clip;
    background-color: var(--background-color);
}

.tabButton{
    all: unset;
    color: var(--secondary-foreground-color);
    min-height:4rem;
    padding-left: 1rem;
    text-align:left;
}

.tabButton:hover{
    cursor: pointer;
}

.grid{
    display: grid;
    height: min-content;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--gap);
    margin: var(--gap);
}

.grid .addButton {
    display:flex;
    background-color: lightgray;
    color: slategray;
    justify-content: center;
    align-items: center;
}

.titleBar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: red;
}

.titleBar > *{
    all: unset;
    
}

.gridItem{
    height: 200px;
    display:grid;
    grid-template-rows: 1fr 3fr 0.8fr;
    background-color: aqua;
}

.gridItem .bottom {
    display: flex;
    justify-content: space-around;
}

.selected{
    background-color: brown;
}

.bottom > * {
    all: unset;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

p{
    padding: 1rem;
    margin-bottom: 0;
}